Commerical outreach n8n/core_exteriors_combined.json
{
  "name": "Core Exteriors – Complete Outreach System",
  "nodes": [
    {
      "id": "CfgCol",
      "name": "Config – Collector",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        -400
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "sheetId",
              "name": "sheetId",
              "value": "1hm8hisPCTqfurATHBExftrzhbfIC0-FPm0jOU3I_E-k",
              "type": "string"
            },
            {
              "id": "leadsTab",
              "name": "leadsTab",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "portfolioTab",
              "name": "portfolioTab",
              "value": "Portfolio",
              "type": "string"
            },
            {
              "id": "companyName",
              "name": "companyName",
              "value": "Core Exteriors",
              "type": "string"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "value": "Luke Cairns",
              "type": "string"
            },
            {
              "id": "senderPhone",
              "name": "senderPhone",
              "value": "+1 (604) 616-2026",
              "type": "string"
            },
            {
              "id": "liability",
              "name": "liability",
              "value": "$5,000,000 liability coverage",
              "type": "string"
            },
            {
              "id": "legalLine",
              "name": "legalLine",
              "value": "We’re a fully registered/insured Ontario business (HST set up).",
              "type": "string"
            },
            {
              "id": "servicesList",
              "name": "servicesList",
              "value": "Wood Restoration and Deck Maintenance; Hardscape Optimization (Interlock & Polymeric Sand); Exterior Siding Cleaning (Soft Wash); Gutter and Eavestrough Maintenance; Window Cleaning; Landscaping and Garden Finishing (Mulching & Weeding)",
              "type": "string"
            },
            {
              "id": "auditOffer",
              "name": "auditOffer",
              "value": "Free 5–10 min Exterior Audit (walkthrough + 3 curb-appeal fixes + options/quote)",
              "type": "string"
            },
            {
              "id": "latlng",
              "name": "latlng",
              "value": "42.9849,-81.2453",
              "type": "string"
            },
            {
              "id": "radiusMeters",
              "name": "radiusMeters",
              "value": "60000",
              "type": "string"
            },
            {
              "id": "dailySendCap",
              "name": "dailySendCap",
              "value": "40",
              "type": "string"
            },
            {
              "id": "minDelaySec",
              "name": "minDelaySec",
              "value": "90",
              "type": "string"
            },
            {
              "id": "maxDelaySec",
              "name": "maxDelaySec",
              "value": "360",
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "name": "telegramChatId",
              "value": "1978493866",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "CfgSnd",
      "name": "Config – Sender",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        200
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "sheetId",
              "name": "sheetId",
              "value": "1hm8hisPCTqfurATHBExftrzhbfIC0-FPm0jOU3I_E-k",
              "type": "string"
            },
            {
              "id": "leadsTab",
              "name": "leadsTab",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "portfolioTab",
              "name": "portfolioTab",
              "value": "Portfolio",
              "type": "string"
            },
            {
              "id": "companyName",
              "name": "companyName",
              "value": "Core Exteriors",
              "type": "string"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "value": "Luke Cairns",
              "type": "string"
            },
            {
              "id": "senderPhone",
              "name": "senderPhone",
              "value": "+1 (604) 616-2026",
              "type": "string"
            },
            {
              "id": "liability",
              "name": "liability",
              "value": "$5,000,000 liability coverage",
              "type": "string"
            },
            {
              "id": "legalLine",
              "name": "legalLine",
              "value": "We’re a fully registered/insured Ontario business (HST set up).",
              "type": "string"
            },
            {
              "id": "servicesList",
              "name": "servicesList",
              "value": "Wood Restoration and Deck Maintenance; Hardscape Optimization (Interlock & Polymeric Sand); Exterior Siding Cleaning (Soft Wash); Gutter and Eavestrough Maintenance; Window Cleaning; Landscaping and Garden Finishing (Mulching & Weeding)",
              "type": "string"
            },
            {
              "id": "auditOffer",
              "name": "auditOffer",
              "value": "Free 5–10 min Exterior Audit (walkthrough + 3 curb-appeal fixes + options/quote)",
              "type": "string"
            },
            {
              "id": "latlng",
              "name": "latlng",
              "value": "42.9849,-81.2453",
              "type": "string"
            },
            {
              "id": "radiusMeters",
              "name": "radiusMeters",
              "value": "60000",
              "type": "string"
            },
            {
              "id": "dailySendCap",
              "name": "dailySendCap",
              "value": "40",
              "type": "string"
            },
            {
              "id": "minDelaySec",
              "name": "minDelaySec",
              "value": "90",
              "type": "string"
            },
            {
              "id": "maxDelaySec",
              "name": "maxDelaySec",
              "value": "360",
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "name": "telegramChatId",
              "value": "1978493866",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "CfgFU",
      "name": "Config – Followup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        800
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "sheetId",
              "name": "sheetId",
              "value": "1hm8hisPCTqfurATHBExftrzhbfIC0-FPm0jOU3I_E-k",
              "type": "string"
            },
            {
              "id": "leadsTab",
              "name": "leadsTab",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "portfolioTab",
              "name": "portfolioTab",
              "value": "Portfolio",
              "type": "string"
            },
            {
              "id": "companyName",
              "name": "companyName",
              "value": "Core Exteriors",
              "type": "string"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "value": "Luke Cairns",
              "type": "string"
            },
            {
              "id": "senderPhone",
              "name": "senderPhone",
              "value": "+1 (604) 616-2026",
              "type": "string"
            },
            {
              "id": "liability",
              "name": "liability",
              "value": "$5,000,000 liability coverage",
              "type": "string"
            },
            {
              "id": "legalLine",
              "name": "legalLine",
              "value": "We’re a fully registered/insured Ontario business (HST set up).",
              "type": "string"
            },
            {
              "id": "servicesList",
              "name": "servicesList",
              "value": "Wood Restoration and Deck Maintenance; Hardscape Optimization (Interlock & Polymeric Sand); Exterior Siding Cleaning (Soft Wash); Gutter and Eavestrough Maintenance; Window Cleaning; Landscaping and Garden Finishing (Mulching & Weeding)",
              "type": "string"
            },
            {
              "id": "auditOffer",
              "name": "auditOffer",
              "value": "Free 5–10 min Exterior Audit (walkthrough + 3 curb-appeal fixes + options/quote)",
              "type": "string"
            },
            {
              "id": "latlng",
              "name": "latlng",
              "value": "42.9849,-81.2453",
              "type": "string"
            },
            {
              "id": "radiusMeters",
              "name": "radiusMeters",
              "value": "60000",
              "type": "string"
            },
            {
              "id": "dailySendCap",
              "name": "dailySendCap",
              "value": "40",
              "type": "string"
            },
            {
              "id": "minDelaySec",
              "name": "minDelaySec",
              "value": "90",
              "type": "string"
            },
            {
              "id": "maxDelaySec",
              "name": "maxDelaySec",
              "value": "360",
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "name": "telegramChatId",
              "value": "1978493866",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "CfgTG",
      "name": "Config – Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        1400
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "sheetId",
              "name": "sheetId",
              "value": "1hm8hisPCTqfurATHBExftrzhbfIC0-FPm0jOU3I_E-k",
              "type": "string"
            },
            {
              "id": "leadsTab",
              "name": "leadsTab",
              "value": "Leads",
              "type": "string"
            },
            {
              "id": "portfolioTab",
              "name": "portfolioTab",
              "value": "Portfolio",
              "type": "string"
            },
            {
              "id": "companyName",
              "name": "companyName",
              "value": "Core Exteriors",
              "type": "string"
            },
            {
              "id": "senderName",
              "name": "senderName",
              "value": "Luke Cairns",
              "type": "string"
            },
            {
              "id": "senderPhone",
              "name": "senderPhone",
              "value": "+1 (604) 616-2026",
              "type": "string"
            },
            {
              "id": "liability",
              "name": "liability",
              "value": "$5,000,000 liability coverage",
              "type": "string"
            },
            {
              "id": "legalLine",
              "name": "legalLine",
              "value": "We’re a fully registered/insured Ontario business (HST set up).",
              "type": "string"
            },
            {
              "id": "servicesList",
              "name": "servicesList",
              "value": "Wood Restoration and Deck Maintenance; Hardscape Optimization (Interlock & Polymeric Sand); Exterior Siding Cleaning (Soft Wash); Gutter and Eavestrough Maintenance; Window Cleaning; Landscaping and Garden Finishing (Mulching & Weeding)",
              "type": "string"
            },
            {
              "id": "auditOffer",
              "name": "auditOffer",
              "value": "Free 5–10 min Exterior Audit (walkthrough + 3 curb-appeal fixes + options/quote)",
              "type": "string"
            },
            {
              "id": "latlng",
              "name": "latlng",
              "value": "42.9849,-81.2453",
              "type": "string"
            },
            {
              "id": "radiusMeters",
              "name": "radiusMeters",
              "value": "60000",
              "type": "string"
            },
            {
              "id": "dailySendCap",
              "name": "dailySendCap",
              "value": "40",
              "type": "string"
            },
            {
              "id": "minDelaySec",
              "name": "minDelaySec",
              "value": "90",
              "type": "string"
            },
            {
              "id": "maxDelaySec",
              "name": "maxDelaySec",
              "value": "360",
              "type": "string"
            },
            {
              "id": "telegramChatId",
              "name": "telegramChatId",
              "value": "1978493866",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "CollectorCron",
      "name": "Collector – Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1140,
        -180
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "SeedQueries",
      "name": "Seed Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        -180
      ],
      "parameters": {
        "jsCode": "\nconst queries = [\n  \"property management london ontario\",\n  \"commercial property management london ontario\",\n  \"plaza management london ontario\",\n  \"shopping plaza london ontario\",\n  \"facility management london ontario\",\n  \"hotel london ontario\",\n  \"medical clinic london ontario\",\n  \"auto dealership london ontario\",\n  \"restaurant london ontario\"\n];\nreturn queries.map(q => ({ json: { searchQuery: q } }));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "SplitQueries",
      "name": "Split Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -700,
        -180
      ],
      "parameters": {
        "batchSize": 2,
        "options": {}
      }
    },
    {
      "id": "PlacesTextSearch",
      "name": "Google Places – Text Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -180
      ],
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/textsearch/json?query={{$json.searchQuery}}&location={{$node['Config – Collector'].json.latlng}}&radius={{$node['Config – Collector'].json.radiusMeters}}&key={{$env.GOOGLE_MAPS_API_KEY}}",
        "options": {}
      }
    },
    {
      "id": "FlattenPlaces",
      "name": "Flatten Places",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -180
      ],
      "parameters": {
        "jsCode": "\nconst results = ($json.results || []).slice(0, 10);\nreturn results.map(r => ({ json: {\n  searchQuery: $node['Split Queries'].json.searchQuery,\n  place_id: r.place_id,\n  name: r.name,\n  types: (r.types || []).join(', '),\n  address: r.formatted_address || ''\n}}));\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "SplitPlaces",
      "name": "Split Places",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -20,
        -180
      ],
      "parameters": {
        "batchSize": 5,
        "options": {}
      }
    },
    {
      "id": "PlaceDetails",
      "name": "Google Places – Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -180
      ],
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{$json.place_id}}&fields=name,formatted_address,international_phone_number,website,types,url&key={{$env.GOOGLE_MAPS_API_KEY}}",
        "options": {}
      }
    },
    {
      "id": "NormalizeLead",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        -180
      ],
      "parameters": {
        "jsCode": "\nconst r = $json.result || {};\nreturn [{\n  json: {\n    capturedDate: new Date().toISOString().slice(0,10),\n    source: \"Google Maps\",\n    searchQuery: $node['Split Queries'].json.searchQuery,\n    businessName: r.name || $node['Split Places'].json.name,\n    placeId: $node['Split Places'].json.place_id,\n    types: (r.types || []).join(', '),\n    address: r.formatted_address || $node['Split Places'].json.address,\n    phone: r.international_phone_number || \"\",\n    website: r.website || \"\",\n    mapsUrl: r.url || \"\"\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "ReadLeadsForDedupe",
      "name": "Sheets – Read Leads (dedupe)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        420,
        -340
      ],
      "parameters": {
        "operation": "read",
        "documentId": "={{$node['Config – Collector'].json.sheetId}}",
        "sheetName": "={{$node['Config – Collector'].json.leadsTab}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "Dedupe",
      "name": "Dedupe Place ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -180
      ],
      "parameters": {
        "jsCode": "\nconst lead = $node['Normalize Lead'].json;\nconst rows = $items('Sheets \\u2013 Read Leads (dedupe)', 0).map(i => i.json);\nconst existing = new Set(rows.map(r => (r['Place ID']||r.PlaceID||r.placeId||'').toString()));\nif (existing.has((lead.placeId||'').toString())) return [];\nreturn [{ json: lead }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "IfWebsite",
      "name": "IF Website Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        -180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "IfWebsite_c",
              "leftValue": "={{$json.website}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "FetchHome",
      "name": "HTTP – Fetch Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -260
      ],
      "parameters": {
        "url": "={{$json.website}}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "ExtractHomeEmail",
      "name": "Extract Email (Homepage)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -260
      ],
      "parameters": {
        "jsCode": "\nconst html = ($json.body || '').toString();\nconst emails = Array.from(new Set((html.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/ig) || [])));\nconst preferred = emails.find(e => /info@|contact@|hello@|admin@/i.test(e)) || emails[0] || \"\";\nreturn [{ json: { ...$node['Dedupe Place ID'].json, foundEmail: preferred, emailSource: preferred ? \"homepage\" : \"\" } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "IfHomeEmail",
      "name": "IF Email Found (Home)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "IfHomeEmail_c",
              "leftValue": "={{$json.foundEmail}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "FetchContact",
      "name": "HTTP – Fetch /contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -100
      ],
      "parameters": {
        "url": "={{$json.website.replace(/\\/$/, '') + '/contact'}}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "ExtractContactEmail",
      "name": "Extract Email (/contact)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        -100
      ],
      "parameters": {
        "jsCode": "\nconst html = ($json.body || '').toString();\nconst emails = Array.from(new Set((html.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/ig) || [])));\nconst preferred = emails.find(e => /info@|contact@|hello@|admin@/i.test(e)) || emails[0] || \"\";\nconst base = $node['Dedupe Place ID'].json;\nreturn [{ json: { ...base, foundEmail: preferred, emailSource: preferred ? \"contact\" : \"\" } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "SetContactMethod",
      "name": "Set Contact Method",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -100
      ],
      "parameters": {
        "jsCode": "\nconst lead = $json;\nconst contactUrl = (lead.website ? lead.website.replace(/\\/$/, '') + '/contact' : '');\nreturn [{ json: { ...lead, contactMethod: lead.foundEmail ? 'Email' : 'ContactForm',\n  contactFormUrl: lead.foundEmail ? '' : contactUrl } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "IfEmailMethod",
      "name": "IF ContactMethod = Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        -180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "IfEmailMethod_c",
              "leftValue": "={{$json.contactMethod}}",
              "rightValue": "Email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "AIDraft",
      "name": "AI – Draft Email",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 4,
      "position": [
        1960,
        -260
      ],
      "parameters": {
        "model": "gpt-4.1-mini",
        "messages": [
          {
            "role": "system",
            "content": "You write short, honest B2B outreach emails. Output ONLY JSON."
          },
          {
            "role": "user",
            "content": "Business: {{$json.businessName}} ({{$json.types}})\\nAddress: {{$json.address}}\\nWebsite: {{$json.website}}\\n\\nSender: {{$node['Config – Collector'].json.companyName}}\\nOffer: {{$node['Config – Collector'].json.auditOffer}}\\nServices: {{$node['Config – Collector'].json.servicesList}}\\nCredibility: {{$node['Config – Collector'].json.legalLine}} + {{$node['Config – Collector'].json.liability}}\\n\\nWrite an email under 170 words to book a meeting next week in London OR a free exterior audit. Provide two time options (Tue/Wed/Thu next week). Mention 2-3 relevant services. Include: Reply unsubscribe and I won\\u2019t follow up.\\n\\nReturn JSON: {\\\"variant\\\":\\\"A|B\\\",\\\"score\\\":0-100,\\\"priority\\\":\\\"High|Medium|Low\\\",\\\"recommendedServices\\\":\\\"...\\\",\\\"nextBestOffer\\\":\\\"Exterior audit|Coffee chat\\\",\\\"subject\\\":\\\"...\\\",\\\"body\\\":\\\"...\\\",\\\"nextFollowUpDays\\\":3}"
          }
        ],
        "options": {
          "temperature": 0.55
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "id": "MergeDraft",
      "name": "Merge Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        -260
      ],
      "parameters": {
        "jsCode": "\nlet p;\ntry { p = JSON.parse($json.message?.content || $json.text || '{}'); }\ncatch(e){ p = {variant:'A',score:60,priority:'Medium',recommendedServices:'',nextBestOffer:'Exterior audit',subject:'Quick exterior audit?',body:'',nextFollowUpDays:3}; }\nconst lead = $node['IF ContactMethod = Email'].json;\nconst nextFU = new Date(Date.now() + (p.nextFollowUpDays||3)*86400000).toISOString().slice(0,10);\nreturn [{\n  json: {\n    ...lead,\n    variant: p.variant,\n    leadScore: p.score,\n    priority: p.priority,\n    recommendedServices: p.recommendedServices,\n    nextBestOffer: p.nextBestOffer,\n    emailSubject: p.subject,\n    emailBody: p.body,\n    nextFollowUpDate: nextFU,\n    status: 'Queued',\n    approvedToSend: 'Y'\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "QueueContactForm",
      "name": "Queue ContactForm (no email)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -100
      ],
      "parameters": {
        "jsCode": "\nconst lead = $json;\nreturn [{\n  json: {\n    ...lead,\n    variant: '', leadScore: 50,\n    priority: /property|management|plaza|facility/i.test((lead.searchQuery||'') + ' ' + (lead.types||'') + ' ' + (lead.businessName||'')) ? 'High' : 'Medium',\n    recommendedServices: '', nextBestOffer: 'Exterior audit',\n    emailSubject: '', emailBody: '',\n    nextFollowUpDate: new Date(Date.now()+7*86400000).toISOString().slice(0,10),\n    status: 'Queued', approvedToSend: 'N'\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "AppendLead",
      "name": "Sheets – Append Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        -180
      ],
      "parameters": {
        "operation": "append",
        "documentId": "={{$node['Config – Collector'].json.sheetId}}",
        "sheetName": "={{$node['Config – Collector'].json.leadsTab}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Captured Date": "={{$json.capturedDate}}",
            "Source": "={{$json.source}}",
            "Search Query/Category": "={{$json.searchQuery}}",
            "Business Name": "={{$json.businessName}}",
            "Place ID": "={{$json.placeId}}",
            "Type(s)": "={{$json.types}}",
            "Address": "={{$json.address}}",
            "Phone": "={{$json.phone}}",
            "Website": "={{$json.website}}",
            "Contact Email": "={{$json.foundEmail}}",
            "Recommended Services": "={{$json.recommendedServices || ''}}",
            "Email Subject": "={{$json.emailSubject || ''}}",
            "Email Body": "={{$json.emailBody || ''}}",
            "Status": "={{$json.status}}",
            "Next Follow-up Date": "={{$json.nextFollowUpDate}}",
            "Variant": "={{$json.variant || ''}}",
            "Lead Score": "={{$json.leadScore || ''}}",
            "Priority": "={{$json.priority || ''}}",
            "ApprovedToSend (Y/N)": "={{$json.approvedToSend || 'N'}}",
            "Contact Method": "={{$json.contactMethod || 'Email'}}",
            "Contact Form URL": "={{$json.contactFormUrl || ''}}",
            "Email Source": "={{$json.emailSource || ''}}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "SenderCron",
      "name": "Sender – Every 10 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1140,
        420
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "ReadToSend",
      "name": "Sheets – Read Leads (send)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -920,
        420
      ],
      "parameters": {
        "operation": "read",
        "documentId": "={{$node['Config – Collector'].json.sheetId}}",
        "sheetName": "={{$node['Config – Collector'].json.leadsTab}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "SelectQueued",
      "name": "Select One Queued (6am-9pm + cap)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -700,
        420
      ],
      "parameters": {
        "jsCode": "\nconst rows = items.map(i=>i.json);\nconst now = new Date();\nconst hhmm = now.toTimeString().slice(0,5);\nif (!(hhmm >= '06:00' && hhmm <= '21:00')) return [{ json: { mode:'outside_window' } }];\n\nconst sd = this.getWorkflowStaticData('global');\nconst today = now.toISOString().slice(0,10);\nif (sd.sendDate !== today){ sd.sendDate = today; sd.sentToday = 0; }\nconst cap = Number($node['Config – Sender'].json.dailySendCap || 40);\nif ((sd.sentToday || 0) >= cap) return [{ json: { mode:'cap_reached', sentToday: sd.sentToday, cap } }];\n\nfor (let i=0;i<rows.length;i++){\n  const r = rows[i];\n  const status = (r.Status||'').toString().toLowerCase();\n  const approved = (r['ApprovedToSend (Y/N)']||'').toString().toUpperCase();\n  const method = (r['Contact Method']||'Email').toString();\n  const email = (r['Contact Email']||'').toString();\n  if (status === 'queued' && approved === 'Y' && method === 'Email' && email){\n    return [{ json: { mode:'send', rowNumber: i+2, row: r } }];\n  }\n}\nreturn [{ json: { mode:'none' } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "IfSend",
      "name": "IF mode=send",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        420
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "IfSend_c",
              "leftValue": "={{$json.mode}}",
              "rightValue": "send",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "WaitRandom",
      "name": "Wait Random",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -260,
        420
      ],
      "parameters": {
        "amount": "={{Math.floor((Number($node['Config – Sender'].json.minDelaySec)||90) + Math.random()*((Number($node['Config – Sender'].json.maxDelaySec)||360)-(Number($node['Config – Sender'].json.minDelaySec)||90)))}}",
        "unit": "seconds"
      }
    },
    {
      "id": "GmailSend",
      "name": "Gmail – Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{$json.row['Contact Email']}}",
        "subject": "={{$json.row['Email Subject']}}",
        "message": "={{$json.row['Email Body']}}",
        "options": {
          "fromEmail": "corexteriors@gmail.com"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "corexteriors@gmail.com"
        }
      }
    },
    {
      "id": "UpdateAfterSend",
      "name": "Sheets – Update Row (sent)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        420
      ],
      "parameters": {
        "operation": "update",
        "documentId": "={{$node['Config – Collector'].json.sheetId}}",
        "sheetName": "={{$node['Config – Collector'].json.leadsTab}}",
        "updateBy": "rowNumber",
        "rowNumber": "={{$node['IF mode=send'].json.rowNumber}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Sent",
            "Last Touch Date": "={{new Date().toISOString().slice(0,10)}}",
            "Sent Date": "={{new Date().toISOString().slice(0,10)}}",
            "Next Follow-up Date": "={{new Date(Date.now()+3*86400000).toISOString().slice(0,10)}}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "IncCap",
      "name": "Increment Sent Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        420
      ],
      "parameters": {
        "jsCode": "const sd=this.getWorkflowStaticData('global'); const t=new Date().toISOString().slice(0,10); if(sd.sendDate!==t){sd.sendDate=t; sd.sentToday=0;} sd.sentToday=(sd.sentToday||0)+1; return items;",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "Cron",
      "name": "Followup – Weekdays 9:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        800
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "daysOfWeek": [
                1,
                2,
                3,
                4,
                5
              ],
              "hour": 9,
              "minute": 15
            }
          ]
        }
      }
    },
    {
      "id": "Read",
      "name": "Sheets – Read Leads (followup)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -200,
        800
      ],
      "parameters": {
        "operation": "read",
        "documentId": "={{$node['Config – Followup'].json.sheetId}}",
        "sheetName": "={{$node['Config – Followup'].json.leadsTab}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "FU_Bucket",
      "name": "Bucket Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        800
      ],
      "parameters": {
        "jsCode": "\nfunction norm(s){ return (s ?? '').toString().trim(); }\nfunction daysBetween(a,b){ return Math.floor((a-b)/(24*3600*1000)); }\nconst today = new Date();\nconst rows = items.map(i=>i.json);\nconst noResponse=[],interestedNoMeeting=[],timingLater=[];\nfor(let idx=0;idx<rows.length;idx++){\n  const r=rows[idx], rowNumber=idx+2;\n  const status=norm(r.Status).toLowerCase();\n  const lastTouch=norm(r['Last Touch Date']);\n  const meeting=norm(r['Meeting Date/Time']);\n  const outcome=norm(r['Outcome Reason']).toLowerCase();\n  if(outcome.includes('timing')||outcome.includes('later'))\n    timingLater.push({rowNumber,name:r['Business Name']||r.BusinessName});\n  if(status.includes('interested')&&!meeting)\n    interestedNoMeeting.push({rowNumber,name:r['Business Name']||r.BusinessName});\n  if(status==='sent'&&lastTouch){\n    const lt=new Date(lastTouch);\n    if(!isNaN(lt)&&daysBetween(today,lt)>=3)\n      noResponse.push({rowNumber,name:r['Business Name']||r.BusinessName,types:r['Type(s)']||r.Types||''});\n  }\n}\nreturn [{json:{noResponse,interestedNoMeeting,timingLater}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "FU_IntMsg",
      "name": "Build Interested Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        920
      ],
      "parameters": {
        "jsCode": "\nconst arr=($json.interestedNoMeeting||[]).slice(0,12);\nif(!arr.length) return [{json:{skip:true}}];\nconst lines=arr.map(x=>`\\u2022 ${x.name} (row ${x.rowNumber})`).join('\\n');\nreturn [{json:{text:'INTERESTED - NO MEETING - CALL TODAY:\\n'+lines}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "FU_IfInt",
      "name": "IF Send Interested Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        920
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "FU_IfInt_c",
              "leftValue": "={{$json.skip}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "TelegramInterested",
      "name": "Telegram – Interested Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        920
      ],
      "parameters": {
        "chatId": "={{$node['Config – Followup'].json.telegramChatId}}",
        "text": "={{$json.text}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "FU_NRMsg",
      "name": "Build No-Response Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1040
      ],
      "parameters": {
        "jsCode": "\nconst arr=($json.noResponse||[]).slice(0,12);\nif(!arr.length) return [{json:{skip:true}}];\nconst lines=arr.map(x=>`\\u2022 ${x.name} (row ${x.rowNumber})`).join('\\n');\nreturn [{json:{text:'NO RESPONSE (3+ days):\\n'+lines}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "FU_IfNR",
      "name": "IF Send No-Response Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        1040
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "FU_IfNR_c",
              "leftValue": "={{$json.skip}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "FU_TgNR",
      "name": "Telegram – No-Response Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        1040
      ],
      "parameters": {
        "chatId": "={{$node['Config – Followup'].json.telegramChatId}}",
        "text": "={{$json.text}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "FU_TMMsg",
      "name": "Build Timing Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1200
      ],
      "parameters": {
        "jsCode": "\nconst arr=($json.timingLater||[]).slice(0,12);\nif(!arr.length) return [{json:{skip:true}}];\nconst lines=arr.map(x=>`\\u2022 ${x.name} (row ${x.rowNumber})`).join('\\n');\nreturn [{json:{text:'TIMING/LATER - re-engage soon:\\n'+lines}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "FU_IfTM",
      "name": "IF Send Timing Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        1200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "FU_IfTM_c",
              "leftValue": "={{$json.skip}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "FU_TgTM",
      "name": "Telegram – Timing Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        1200
      ],
      "parameters": {
        "chatId": "={{$node['Config – Followup'].json.telegramChatId}}",
        "text": "={{$json.text}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "TG_Trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        1400
      ],
      "parameters": {},
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "TG_Parse",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        1400
      ],
      "parameters": {
        "jsCode": "\nconst text=($json.message?.text||'').trim();\nconst lower=text.toLowerCase();\nlet cmd='help',payload='';\nif(lower.startsWith('/today')) cmd='today';\nelse if(lower.startsWith('/due')) cmd='due';\nelse if(lower.startsWith('/top10')) cmd='top10';\nelse if(lower.startsWith('/addportfolio')){cmd='addportfolio';payload=text.replace(/\\/addportfolio\\s*/i,'');}\nreturn [{json:{cmd,payload,chatId:$json.message.chat.id}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "TG_Switch",
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        20,
        1400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule_0",
                    "leftValue": "={{$json.cmd}}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule_1",
                    "leftValue": "={{$json.cmd}}",
                    "rightValue": "due",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule_2",
                    "leftValue": "={{$json.cmd}}",
                    "rightValue": "top10",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule_3",
                    "leftValue": "={{$json.cmd}}",
                    "rightValue": "addportfolio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule_4",
                    "leftValue": "={{$json.cmd}}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "TG_ReadLeads",
      "name": "Sheets – Read Leads (bot)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        1400
      ],
      "parameters": {
        "operation": "read",
        "documentId": "={{$node['Config – Telegram'].json.sheetId}}",
        "sheetName": "={{$node['Config – Telegram'].json.leadsTab}}",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "TG_Format",
      "name": "Format Bot Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1400
      ],
      "parameters": {
        "jsCode": "\nconst cmd=$node['Parse Command'].json.cmd;\nconst chatId=$node['Parse Command'].json.chatId;\nconst rows=items.map(i=>i.json);\nconst today=new Date().toISOString().slice(0,10);\nlet text='';\nif(cmd==='today'){\n  const sent=rows.filter(r=>(r['Sent Date']||'')===today);\n  const queued=rows.filter(r=>(r.Status||'').toLowerCase()==='queued');\n  text='TODAY ('+today+'):\\nSent: '+sent.length+'\\nQueued: '+queued.length+'\\nTotal: '+rows.length;\n}else if(cmd==='due'){\n  const due=rows.filter(r=>(r['Next Follow-up Date']||'')<=today&&!['closed','unsubscribed'].includes((r.Status||'').toLowerCase()));\n  const lines=due.slice(0,15).map(r=>'- '+(r['Business Name']||'?')+' ('+(r.Status||'?')+')').join('\\n');\n  text='FOLLOW-UPS DUE ('+due.length+'):\\n'+(lines||'None!');\n}else if(cmd==='top10'){\n  const scored=rows.filter(r=>r['Lead Score']).sort((a,b)=>Number(b['Lead Score'])-Number(a['Lead Score'])).slice(0,10);\n  const lines=scored.map((r,i)=>(i+1)+'. '+(r['Business Name']||'?')+' Score:'+(r['Lead Score']||'')).join('\\n');\n  text='TOP 10 LEADS:\\n'+(lines||'No scored leads.');\n}\nreturn [{json:{chatId,text}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "TG_Reply",
      "name": "Telegram – Bot Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        680,
        1400
      ],
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.text}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "TG_AppendP",
      "name": "Sheets – Append Portfolio",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        1600
      ],
      "parameters": {
        "operation": "append",
        "documentId": "={{$node['Config – Telegram'].json.sheetId}}",
        "sheetName": "={{$node['Config – Telegram'].json.portfolioTab}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{new Date().toISOString().slice(0,10)}}",
            "Entry": "={{$node['Parse Command'].json.payload}}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "TG_PReply",
      "name": "Telegram – Portfolio Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        460,
        1600
      ],
      "parameters": {
        "chatId": "={{$node['Parse Command'].json.chatId}}",
        "text": "=✅ Saved: {{$node['Parse Command'].json.payload}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "id": "TG_Help",
      "name": "Telegram – Help Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        1800
      ],
      "parameters": {
        "chatId": "={{$node['Parse Command'].json.chatId}}",
        "text": "Commands:\n/today – Summary\n/due – Follow-ups due\n/top10 – Top leads\n/addportfolio <text> – Log entry"
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CRED_ID",
          "name": "Telegram"
        }
      }
    }
  ],
  "connections": {
    "Collector – Every 6 hours": {
      "main": [
        [
          {
            "node": "Config – Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config – Collector": {
      "main": [
        [
          {
            "node": "Seed Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Queries": {
      "main": [
        [
          {
            "node": "Split Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Queries": {
      "main": [
        [
          {
            "node": "Google Places – Text Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Queries",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Places – Text Search": {
      "main": [
        [
          {
            "node": "Flatten Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Places": {
      "main": [
        [
          {
            "node": "Split Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Places": {
      "main": [
        [
          {
            "node": "Google Places – Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Places",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Places – Details": {
      "main": [
        [
          {
            "node": "Normalize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead": {
      "main": [
        [
          {
            "node": "Sheets – Read Leads (dedupe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Read Leads (dedupe)": {
      "main": [
        [
          {
            "node": "Dedupe Place ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Place ID": {
      "main": [
        [
          {
            "node": "IF Website Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Website Exists": {
      "main": [
        [
          {
            "node": "HTTP – Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue ContactForm (no email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP – Fetch Homepage": {
      "main": [
        [
          {
            "node": "Extract Email (Homepage)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email (Homepage)": {
      "main": [
        [
          {
            "node": "IF Email Found (Home)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Email Found (Home)": {
      "main": [
        [
          {
            "node": "Set Contact Method",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP – Fetch /contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP – Fetch /contact": {
      "main": [
        [
          {
            "node": "Extract Email (/contact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email (/contact)": {
      "main": [
        [
          {
            "node": "Set Contact Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Contact Method": {
      "main": [
        [
          {
            "node": "IF ContactMethod = Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ContactMethod = Email": {
      "main": [
        [
          {
            "node": "AI – Draft Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue ContactForm (no email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI – Draft Email": {
      "main": [
        [
          {
            "node": "Merge Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Draft": {
      "main": [
        [
          {
            "node": "Sheets – Append Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue ContactForm (no email)": {
      "main": [
        [
          {
            "node": "Sheets – Append Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender – Every 10 min": {
      "main": [
        [
          {
            "node": "Config – Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config – Sender": {
      "main": [
        [
          {
            "node": "Sheets – Read Leads (send)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Read Leads (send)": {
      "main": [
        [
          {
            "node": "Select One Queued (6am-9pm + cap)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select One Queued (6am-9pm + cap)": {
      "main": [
        [
          {
            "node": "IF mode=send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF mode=send": {
      "main": [
        [
          {
            "node": "Wait Random",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait Random": {
      "main": [
        [
          {
            "node": "Gmail – Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail – Send": {
      "main": [
        [
          {
            "node": "Sheets – Update Row (sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Update Row (sent)": {
      "main": [
        [
          {
            "node": "Increment Sent Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Followup – Weekdays 9:15": {
      "main": [
        [
          {
            "node": "Config – Followup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config – Followup": {
      "main": [
        [
          {
            "node": "Sheets – Read Leads (followup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Read Leads (followup)": {
      "main": [
        [
          {
            "node": "Bucket Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucket Leads": {
      "main": [
        [
          {
            "node": "Build Interested Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build No-Response Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Timing Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Interested Alert": {
      "main": [
        [
          {
            "node": "IF Send Interested Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send Interested Alert": {
      "main": [
        [
          {
            "node": "Telegram – Interested Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build No-Response Alert": {
      "main": [
        [
          {
            "node": "IF Send No-Response Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send No-Response Alert": {
      "main": [
        [
          {
            "node": "Telegram – No-Response Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Timing Alert": {
      "main": [
        [
          {
            "node": "IF Send Timing Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send Timing Alert": {
      "main": [
        [
          {
            "node": "Telegram – Timing Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Config – Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config – Telegram": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Switch Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Command": {
      "main": [
        [
          {
            "node": "Sheets – Read Leads (bot)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets – Read Leads (bot)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets – Read Leads (bot)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets – Append Portfolio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram – Help Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Read Leads (bot)": {
      "main": [
        [
          {
            "node": "Format Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bot Reply": {
      "main": [
        [
          {
            "node": "Telegram – Bot Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets – Append Portfolio": {
      "main": [
        [
          {
            "node": "Telegram – Portfolio Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "versionId": "1"
}